.carousel-inner{
    width:500px;
    height: 700px;
    margin: 0 auto;
}

.carousel-control-next, 
.carousel-control-prev{
    height: 700px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon{
    filter: invert(1);
} 

#custCarousel{
    margin-top: 20px;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left:0;
    margin-bottom: 200px; 
}

#custCarousel .carousel-indicators>li {
    width: 100px;
    opacity: 1;
    margin-bottom: 140px;

}

#custCarousel .carousel-indicators li img {
    display: block;
    max-width: 100%;  
    margin:10px;
    margin-bottom: 20px;
    opacity: 1;

}
#custCarousel .carousel-indicators li.active img{
    border: 5px solid black;
}

@media screen and (max-width: 768px){/*Medium devices*/
    .carousel-inner{
        width:400px;
        height: 600px;
        margin: 0 auto;
    }
    .carousel-control-next, 
    .carousel-control-prev{
        height: 600px;
    }
}
@media screen and (max-width: 600px){/*Medium devices*/
    .carousel-inner{
        width:350px;
        height: 550px;
        margin: 0 auto;
    }
    .carousel-control-next, 
    .carousel-control-prev{
        height: 550px;
    }

}



/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}


/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */

